%p#notice= notice

%p
  %b Name:
  = @applicant.name
%p
  %b Surname:
  = @applicant.surname
%p
  %b Patronymic:
  = @applicant.patronymic
%p
  %b Status:
  = @applicant.status
%p
  %b Salary:
  = @applicant.salary

= link_to 'Edit', edit_applicant_path(@applicant)
\|
= link_to 'Back', applicants_path

%h3
  Навыки

- if @applicant.skills
  - @applicant.skills.each do |skill|
    = skill.name

%h3
  Подходящие вакансии

%p
  - if @vacancies.present?
    - @vacancies.each do |vacancy|
      %li
        = link_to vacancy.name, vacancy_path(vacancy)
        = vacancy.salary
