= form_for @vacancy do |f|
  - if @vacancy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vacancy.errors.count, "error")} prohibited this vacancy from being saved:"
      %ul
        - @vacancy.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :validity
    = f.number_field :validity
  .field
    = f.label :salary
    = f.number_field :salary
  .actions
    = f.submit 'Save'

  = render 'shared/form_skill', f: f, ob: @vacancy
